* {
    margin: 0;
    padding: 0;
  }

body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d8cbbc;
    font-family: 'Cabin';
}

a:link {
    text-decoration: none;
}
a {
    color: #A3636F;
}
#nav1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: #FFC78F;
}

#nav1-links {
    display: flex;
    justify-content: space-between;
    width: 320px;
}

header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* h1 {
    font-family: 'Cabin', Arial, sans-serif;
    font-size: 20px;
}

h2 {
    font-family: 'Cabin', Arial, sans-serif;
    font-size: 15px;
} */

#email {
    width: 180px;
    height: 22px;
    border-width: 0;
    background-color: #f9e4e9;
}
button {
    background-color: #8B4A65;
    color: white;
    width: 84px;
    height: 24px;
    font-family: inherit;
}

#head-left {

}

#inline-logo {
    font-size: 25px;
}

#logo {

}
#head-right {
    background: #E37A90;
    width: 365px;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

ul {
    padding-left: 20px;
}

#nav2 {
    display:flex;
    flex-direction:right;
    background: #bedccb;
    justify-content: space-around;
    
}
#content-div {
    display: flex;
    flex-direction: row;
    background-color: white;
}

#blog {
    width: 70%;
    background-color: white;
}
#right {
    width: 30%;
    background-color: white;
}
#comments {
    background-color: white;
}
#foot {
    background-color: #bedccb;
    font-size: 10px;
}